auth.pickle
VkConversationParser.code-workspace
__pycache__/*
messages-0.db
messages-1.db
messages-2.db
__pycache__/attachments_parser.cpython-312.pyc
__pycache__/messages_parser.cpython-312.pyc
messages-1.db-journal
z.db
__pycache__/merger.cpython-312.pyc
__pycache__/progress_grid.cpython-312.pyc
__pycache__/progress_grid.cpython-312.pyc
logs/*
